.__sitter-page{
    button{
        cursor: pointer;
    }
    
    input, button, textarea, select{
        padding: 0.8rem 1rem;
        font-family: inherit;
        outline: none;
        width: 100%;
        margin: 1rem 0;
    }
    .baby-siiter-image{
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        border-radius: 50%;
    }
}