.__SignInPage{
    display: grid;
    grid-gap: 1rem;
    input, button, textarea{
        padding: 0.8rem 1rem;
        font-family: inherit;
        outline: none;
    }
    button{
        min-width: 300px;
        cursor: pointer;
        &:active{
            background: lightgrey;
        }
    }
}